@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-book.woff2') format('woff2'),
		url('https://assets.syracuse.edu/fonts/shermansans-book.woff') format('woff'),
		url('https://assets.syracuse.edu/fonts/shermansans-book.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2') format('woff2'),
		url('https://assets.syracuse.edu/fonts/shermansans-book-intl.woff') format('woff'),
		url('https://assets.syracuse.edu/fonts/shermansans-book-intl.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-bold.woff2') format('woff2'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold.woff') format('woff'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold.eot') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}

@font-face {
	font-family: 'ShermanSans';
	src: url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2') format('woff2'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff') format('woff'),
	 url('https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot') format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}


:root {
	--content-width: 900px;

	/* SU Colors */
	--suorange: #f76900;
	--white: #ffffff;
	--primaryblue: #000e54;
	--mediumorange: #ff431b;
	--lightorange: #ff8e00;
	--mediumblue: #203299;
	--lightblue: #2b72d7;
	--black: #000000;
	--mediumgray: #707780;
	--darkgray: #404040;
	--lightgray: #adb3b8;
	--darkorange: #d74100;
}

* {
	box-sizing: border-box;
}

*:focus {
	outline: solid currentColor 3px;
	outline-offset: 2px;
	/* position: relative; */
}
/* a:focus:before { */
	/* content: ""; */
	/* display: block; */
	/* position: absolute; */
	/* width: calc(100% + 10px); */
	/* height: calc(100% + 10px); */
	/* top: -5px; */
	/* left: -5px; */
	/* background: transparent; */
	/* z-index: -10; */
	/* border-radius: 5px; */
	/* box-shadow: 0 0 0 3px #f00, 0 0 0 6px #ff0, 0 0 0 9px #00f, 0 0 0 12px #0f0; */
/* } */

[hidden] {
	display: none;
}

html {
	height: 100%;
}

body {
	font-family: ShermanSans, Verdana, Tahoma, sans-serif;
	color: #101010;
	line-height: 1.5;
	/* below is for forcing the footer always to the bottom */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
}






.offscreen {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.skipnavlink {
	position: absolute;
	left: 1rem;
	top: 1rem;
	padding: 0.625rem;
	color: var(--white) !important;
	background-color: var(--lightblue);
	z-index: 2000;
	font-size: 1.125rem;
	font-weight: 600;
}

.skipnavlink:focus {
	overflow: auto;
	clip: auto;
	width: auto;
	height: auto;
	outline-offset: -4px;
}


/******************************************
	HEADER
 ******************************************/
header {
}






/******************************************
	MAIN
 ******************************************/
main {
	/* makes the main resize to force the footer down on short content pages */
	flex: 1 0 auto;
}

h1 {
	background: lightgreen;
	margin: 0;
	padding: 0;
}


/******************************************
	FOOTER
 ******************************************/
footer {
	background: var(--primaryblue);
	color: var(--white);
	
	height: 8rem;
	font-size: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


div.select {
	position: relative;
	border: solid 2px var(--lightgray);
	background: var(--white);
	color: var(--primaryblue);
}
div.select:after {
	/* content: url("../assets/chevron-down.svg"); */
	width: 1rem;

	display: block;
	position: absolute;
	right: 0.5rem;
	top: calc(0.5rem + 2px); /* 2px from border on select */
	font-size: inherit;
	line-height: inherit;
	pointer-events: none;
}
div.select svg {
	pointer-events: none;
	width: 1rem;
	height: 100%;
	display: block;
	position: absolute;
	right: 0.5rem;
	top: 0; 
	font-size: inherit;
	line-height: inherit;
}
select.select-dropdown {
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	background: transparent;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 1.75rem;
	position: relative;
	border: none;
}

select.select-dropdown option {
	line-height: inherit;
}
select.select-dropdown:focus {
	outline-color: var(--mediumorange);
	outline-offset: 1px;
}
