

:root {
	--content-width: 900px;
}

.mega-menu {
	--menu-background: #000e54;
	--menu-color: #fff;
	--menu-hover-background: #D74100;
	--menu-hover-color: #fff;
}

.mega-menu button svg {
	pointer-events: none;
}

/* mega-menu top-level */

.mega-menu button.responsive-toggle,
.mega-menu button.mega-menu-toggle {
	padding: 0.625rem 1rem;
	background-color: transparent;
	color: var(--menu-color);
	text-decoration: none;
	white-space: nowrap;
	border: none;
	line-height: inherit;
}
.mega-menu button.responsive-toggle {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.mega-menu button.responsive-toggle svg {
	position: relative;
	top: -0.375px;
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.375rem;
}

.mega-menu button:hover {
	color: var(--menu-hover-color);
	background: var(--menu-hover-background);
}
.mega-menu button:focus {
	outline: dotted var(--menu-color) 3px;
	outline-offset: -5px;
}
.mega-menu button:focus:hover {
	outline: dotted var(--menu-color) 3px;
	outline-offset: -5px;
}

.mega-menu button.responsive-toggle[aria-expanded="true"] {
	background: var(--menu-background);
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.4); 
}

.mega-menu button.responsive-toggle[aria-expanded="false"] + ul {
	display: none;
}

.mega-menu button.responsive-toggle[aria-expanded="true"] + ul {
	display: block;
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.4);
}

.mega-menu {
	position: relative; 
}

.mega-menu > ul {
	margin: 0;
	padding: 0;
	position: absolute;
	background: var(--menu-background);
	list-style: none;
	z-index: 100;
}

.mega-menu > ul > li > button.mega-menu-toggle {
	width: 100%;
	text-align: left;
	border-bottom: solid 1px #fff;
}

/* accessibility fix for list-style none ul in safari */
.mega-menu > ul > li:before,
.mega-sub-menu > ul > li:before {
	content: "\200b";
	position: absolute;
}

.mega-menu li button svg.icon {
	height: 0.625em;
	width: 0.625em;
	position: relative;
	top: -1px;
	margin-left: 2px;
}
.mega-menu li button[aria-expanded="false"] svg.icon.up {
	display: none;
}
.mega-menu li button[aria-expanded="false"] svg.icon.down {
	display: inline-block;
}
.mega-menu li button[aria-expanded="true"] svg.icon.up {
	display: inline-block;
}
.mega-menu li button[aria-expanded="true"] svg.icon.down {
	display: none;
}




.mega-sub-menu {
	display: none;
}
.mega-menu button[aria-expanded="true"] + .mega-sub-menu {
	display: block;
}

.mega-menu button[aria-expanded="true"] + .mega-sub-menu {
	display: block;
}

.mega-sub-menu > ul {
	list-style: none;
	border-bottom: solid 1px #fff;
	padding: 0.625rem 1rem
}


.mega-sub-menu .image-column {
	display: none;
}


.mega-sub-menu > ul li a {
	color: #fff;
	text-decoration: none;
}
.mega-sub-menu > ul li a:focus {
	text-decoration: underline;
	outline-color: #fff;
}
.mega-sub-menu > ul li a:hover {
	text-decoration: underline;
	color: #f76900;
}

.mega-sub-heading {
	font-size: inherit;
	margin: 0 0 0.125em;
	padding: 0;
	font-weight: 600;
}

.mega-sub-menu > ul > li > ul {
	padding-left: 0;
}

.mega-sub-menu > ul > li.text-column + li.text-column > .mega-sub-heading {
	margin-top: 0.625rem;
}

.mega-sub-menu > ul > li > ul.mega-menu-bulleted {
	list-style-type: square;
	list-style-position: outside;
	padding-left: 1rem;
}

.mega-sub-menu > ul > li > ul.mega-menu-bulleted li {
	margin-top: 4px;
}

.mega-sub-menu > ul > li > ul.mega-menu-bulleted li a {
	display: block;
	padding: 1px 0;
}



@media screen and (min-width: 900px) {
	.mega-menu {
		--menu-width: var(--content-width);
		--inner-sub-menu-margin: 20px;
		--image-width: 20%;
	}

	.mega-menu button.responsive-toggle {
		display: none;
	}
	.mega-menu button.responsive-toggle[aria-expanded="true"] + ul {
		display: block;
		box-shadow: none;
	}
	.mega-menu button.responsive-toggle[aria-expanded="false"] + ul {
		display: block;
	}
	.mega-menu > ul {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		background: transparent;
	}
	.mega-menu > ul > li {
		padding: 0;
		display: inline-block;
	}
	


	.mega-menu > ul > li > button.mega-menu-toggle {
		width: auto;
		border-bottom: 0;
	}
	.mega-menu ul > li > button[aria-expanded="true"]:not(:hover) {
		background: var(--menu-background);
		box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.4); 
	}






	.mega-sub-menu {
		display: none;
		position: absolute;
		background: var(--menu-background);
		color: var(--menu-color);
		list-style: none;
		padding: 15px var(--inner-sub-menu-margin);
		z-index: 10;
		right: 0;
		width: var(--menu-width);
		transition: opacity .4s 1s;
		box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.4);
		z-index: 100;
	}
	/* add a 10px "border" around the submenus to make it not close as easily */
	.mega-sub-menu:before {
		content: "";
		background: transparent;
		display: block;
		z-index: -1;
		position: absolute;
		width: calc(100% + 20px); 
		height: calc(100% + 15px);
		top: 0;
		left: -10px;
	}

	.mega-menu[data-focus-open="true"] button[aria-expanded="true"] + .mega-sub-menu {
		display: block;
	}

	.mega-menu[data-hover-open="true"] button[aria-expanded="true"] + .mega-sub-menu {
		display: block;
	}


	.mega-sub-menu > ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		border: 0;
	}







	.mega-sub-menu > ul > li {
		list-style: none;
		justify-self: center;
	}

	.mega-sub-menu > ul > li + li {
		margin-left: var(--inner-sub-menu-margin);
	}

	.mega-sub-menu > ul > li.text-column {
		align-self: flex-start;
	}
	
	.mega-sub-menu > ul > li.text-column + li.text-column > .mega-sub-heading {
		margin-top: 0;
	}

	.mega-sub-menu > ul > li.image-column {
		min-width: var(--image-width);
		width: var(--image-width);
		display: block;
	}
	.mega-sub-menu > ul > li.image-column > a {
		text-align: center;
		display: block;
	}
	.mega-sub-menu > ul > li.image-column > a > img {
		width: 100%;
	}

	.mega-sub-menu > ul > li > ul.mega-menu-bulleted li:first-of-type {
		margin-top: 0;
	}
	
	.mega-sub-menu > ul > li > ul.mega-menu-bulleted.double {
		column-count: 2;
		column-gap: var(--inner-sub-menu-margin);
	}

	.mega-sub-menu > ul > li > ul.mega-menu-bulleted.double > li {
		break-inside: avoid;
	}

	.mega-sub-heading {
		white-space: nowrap;
	}
}



