:root {

	/* SU Colors */
	--suorange: #f76900;
	--white: #ffffff;
	--primaryblue: #000e54;
	--mediumorange: #ff431b;
	--lightorange: #ff8e00;
	--mediumblue: #203299;
	--lightblue: #2b72d7;
	--black: #000000;
	--mediumgray: #707780;
	--darkgray: #404040;
	--lightgray: #adb3b8;
	--darkorange: #d74100;

	/* other colors */
	--menu-background: #f1f1f2;
	
	
	--horizontal-body-padding: 1rem;
	--min-body-width: 320px;
	--responsive-width: 800px;
	--max-content-width: 1200px;
	
	--logo-height: 45px;
	--logo-vertical-padding: 0.5rem;
	--logo-container-height: calc(var(--logo-height) + 2 * var(--logo-vertical-padding));

	
	--audience-nav-height: 3.125rem;
	--user-nav-height: 2rem;
	--mega-menu-height: 3.25rem;
	
	--inner-sub-menu-margin: 1rem;
	
	--chat-height: 10rem;
	--chat-width: 2.5rem;
}


*:focus{
	outline: solid var(--suorange) 3px;
	outline-offset: 2px;
}

a {
	text-decoration: underline;
	color: var(--mediumblue);
}



a:hover {
	text-decoration: none;
}

.sr-only {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}


/***********************
 SELECT
************************/
div.select {
	position: relative;
	border: solid 2px var(--lightgray);
	background: var(--white);
	color: var(--primaryblue);
}
div.select:after {
	/* content: url("../assets/chevron-down.svg"); */
	width: 1rem;

	display: block;
	position: absolute;
	right: 0.5rem;
	top: calc(0.5rem + 2px); /* 2px from border on select */
	font-size: inherit;
	line-height: 1.5;
	pointer-events: none;
}
div.select svg {
	pointer-events: none;
	width: 1rem;
	height: 100%;
	display: block;
	position: absolute;
	right: 0.5rem;
	top: 0; 
	font-size: inherit;
	line-height: inherit;
}
select.select-dropdown {
	color: inherit;
	line-height: 1.5;
	font-size: inherit;
	background: transparent;
	overflow: hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 1.75rem;
	padding-left: 0.25rem;
	position: relative;
	border: none;
	width: 100%;
}

select.select-dropdown option {
	line-height: inherit;
}
select.select-dropdown:focus {
	outline-color: var(--suorange);
	outline-offset: 0px;
}

select.select-dropdown:hover{
	outline-style: solid;
	outline-width: 3px;
	outline-color: var(--suorange);
	outline-offset: 0px;
}

/******************
 BODY
*******************/
html {
	height: 100%;
}

body {
	position: relative;
	font-family: ShermanSans, Verdana, Tahoma, sans-serif;
	color: var(--darkgray);
	line-height: 1.5;
	/* below is for forcing the footer always to the bottom */
	min-height: 100vh;
	min-width: var(--min-body-width);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
}


/******************************************
	MAIN
 ******************************************/
main {
	width: 100%;
	/* makes the main resize to force the footer down on short content pages */
	flex: 1 0 auto;
	display: flex; 
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

@media screen and (min-width: 900px) {
	
}

/******************************************
	MAIN TOP MATTER
	Breadcrumbs
	H1
 ******************************************/
#main_top_matter {
	flex: 0 1 100%;
	margin-bottom: 1rem;
}

/******************************************
	MAIN LEFT NAVIGATION
 ******************************************/
#main_left_nav {
	display: none;
}
main.left-nav #main_left_nav {
	display: block;
	position: relative;
	flex: 0 1 100%;
	margin-bottom: 1rem;
}

#main_left_nav_header {
	display: inline-block;
	position: relative;
	font-size: 1rem;
	font-weight: 700;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 2rem;
	margin-right: auto;
	z-index: 10;
}

#main_left_nav_header h2 {
	color: var(--white);
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
	z-index: 1;
	position: relative;
	pointer-events: none;
}

#main_left_nav_header button {
	font-size: inherit;
	font-weight: inherit;
	color: var(--white);
	line-height: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	border: none;
	background: var(--mediumblue);
	text-align: right;
	z-index: 0;
	padding: 0;
}
#main_left_nav_header button:hover {
	background: var(--darkorange);
}
#main_left_nav_header button svg {
	width: 1rem;
	height: 1.125rem;
	position: relative;
	top: 2px;
	margin-right: 0.5rem;
}

#main_left_nav_header button[aria-expanded="false"] > svg.up {
	display: none;
}
#main_left_nav_header button[aria-expanded="true"] > svg.down {
	display: none;
}

/* shows or hides the nav list */
#main_left_nav_header + div {
	display: block;
	position: relative;
}
#main_left_nav_header.collapsed + div {
	display: none;
}

#main_left_nav ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
	border: solid 2px var(--lightgray);
	background: var(--white);
	position: absolute;
	top: 0.1875rem;
	left: 0;
}

#main_left_nav ul li + li {
	border-top: solid 2px var(--lightgray);
}


#main_left_nav ul li a {
	display: block;
	padding: 0.625rem 0.75rem;
	text-transform: uppercase;
	text-decoration: none;
}
#main_left_nav ul li a:hover {
	text-decoration: underline;
}
#main_left_nav ul li a:focus {
	outline-offset: -5px;
}

#main_left_nav ul li a[aria-current] {
	background: var(--darkorange);
	color: var(--white);
}
#main_left_nav ul li a[aria-current]:focus {
	outline-color: var(--white);
}

#main_left_nav a.home {
	display: inline-flex;
}
#main_left_nav a.home span {
	flex-grow: 1;
}
#main_left_nav a.home svg {
	flex: 0 0 auto;
	width: 1.125em;
	height: 1.25rem;
	position: relative;
	left: 0.25em;
}

@media screen and (min-width: 950px) {
	main.left-nav #main_left_nav {
		width: 20%;
		flex: 0 1 auto;
		margin-right: var(--horizontal-body-padding);
		margin-bottom: 0;
	}
	#main_left_nav_header {
		position: absolute;
		padding: 0;
		margin: 0;
	}
	
	#main_left_nav_header h2 {
		position: absolute;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	#main_left_nav_header button {
		display: none;
	}
	/* force nav to show */
	#main_left_nav_header.collapsed + div {
		display: block;
	}
	
	#main_left_nav ul {
		position: relative;
	}
	#main_left_nav ul li a {
		font-size: 0.875rem;
	}

}


/******************************************
	MAIN CENTAL CONTENT
 ******************************************/
#main_central_column {
	flex: 1 0 auto;
	width: 100px; /* dummy width to get it to adjust size */
}

@media screen and (min-width: 900px) {
	#main_central_column {
	}
}

/******************************************
	MAIN ASIDE (RIGHT)
 ******************************************/
#main_right_aside {
	display: none;
	flex-grow: 0 1 auto;
	font-size: 0.875rem;
}
main.right-aside #main_right_aside{
	display: inline-block;
	flex: 1 1 100%;
}
#main_right_aside p {
	margin-top: 1em;
	margin-bottom: 1em;
}
#main_right_aside address {
	font-style: normal;
}
@media screen and (min-width: 800px) {
	#main_right_aside {
		flex: 0 1 auto;
		max-width: 25%;
		margin-left: var(--horizontal-body-padding);
	}
}

/*********************
 HEADINGS
**********************/
h1.scrc-heading-1 {
	/* reverse the visual order */
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
}
h1.scrc-heading-1 > div:first-child {
	font-size: 0.875em;
}
h1.scrc-heading-1 > div + div {
}


/*********************
 SKIP LINKS
**********************/
#skipnav_container {
	position: absolute;
	left: 1rem;
	top: 1rem;
	background-color: var(--menu-background);
	z-index: 2000;
	font-size: 1.125rem;
	font-weight: 600;
}

#skipnav_container:focus-within {
	overflow: auto;
	clip: auto;
	width: auto;
	height: auto;
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
}

#skipnav_container a {
	display: block;
	padding: 0.625rem 0.75rem;
}
#skipnav_container a:focus {
	outline-offset: -6px;
	outline-color: var(--white);
	background: var(--lightblue);
	color: var(--white);
	text-decoration: none;
}
#skipnav_container a + a {
	border-top: solid 2px var(--darkgray);
}


/***************************
 PAGE CENTERING TRICK
****************************/

.page-centered-content {
	max-width: var(--max-content-width);
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--horizontal-body-padding);
	padding-right: var(--horizontal-body-padding);
}

#page_header {
	position: relative;

}

@media screen and (min-width: 800px) {
	:root {
		--horizontal-body-padding: 1.5rem;
	}


	#page_header {
		position: relative;
	}
}

/*****************************
 NAV TOGGLE BUTTONS {
 *****************************/	 
.nav-toggle {
	background: var(--darkorange);
	color: var(--white);
}
.nav-toggle:focus {
	outline-color: var(--white);
	outline-offset: -8px;
}
.nav-toggle:hover {
	background: var(--primaryblue);
}



/*****************************
 MOBILE ALERT 
 *****************************/
#mobile_alert_link_container {
	text-align: center;
	background: var(--darkorange);
}
 
#mobile_alert_link_container a {
	display: none;
}
#mobile_alert_link_container a:focus {
	outline-color: var(--white);
	outline-offset: -5px;
}

#mobile_alert_link_container a.active {
	display: inline-block;
	color: var(--white);
	text-align: center;
	padding: 0.5rem 1rem;
	margin: 0 auto;
	text-transform: uppercase;
}
#mobile_alert_link svg {
	display: inline;
	position: relative;
	width: 1.25em;
	height: 1.25em;
	top: 3px;
	right: 0;
}

@media screen and (min-width: 800px) {
	#mobile_alert_link_container, 
	#mobile_alert_link,
	#mobile_alert_link.active {
		display: none;
	}
	
}

/****************************
 LOGO
 ****************************/
#logo_container {
	display: block;
	padding-top: var(--logo-vertical-padding);
	padding-bottom: var(--logo-vertical-padding);
	height: var(--logo-container-height);
}

#logo_container a {
	display: inline-block;
	height: var(--logo-height);
}

#logo_container img {
	display: block; /* needed to avoid extra height being created by the SVG in an inline-block */
	width: auto;
	height: var(--logo-height);
}

@media screen and (min-width: 400px) {
	:root {
		--logo-height: 55px;
	}
	
	#logo_container {
		height: var(--logo-container-height);
	}

	#logo_container a {
		height: var(--logo-height);
	}
	#logo_container img {
		height: var(--logo-height);
	}
}

@media screen and (min-width: 800px) {
	:root {
		--logo-vertical-padding: 1rem;
	}
	#logo_container {
		margin-top: var(--audience-nav-height);
		padding-top: var(--logo-vertical-padding);
		padding-bottom: 0;
	}
}

/********************
 HAMBURGER Menu
*********************/
button.hamburger-toggle {
	border: none;
	color: var(--white);
	background: var(--darkorange);
	font-size: 0.75rem;
	font-weight: 700;
	padding: 0.5rem;

	position: absolute;
	right: var(--horizontal-body-padding);
	top: calc(var(--logo-vertical-padding) - var(--logo-container-height));
	height: var(--logo-height);
	
	display: inline-flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: center;
}
button.hamburger-toggle:hover {
	background: var(--mediumblue);
}
button.hamburger-toggle:focus {
	outline-color: var(--primaryblue);
}

button.hamburger-toggle > * {
	pointer-events: none;
}
button.hamburger-toggle > svg {
	flex: 1 1 1rem;
	width: auto;
	height: 100%;
	max-width: 3em
}
button.hamburger-toggle > div {
	flex: 0 0 auto;
	margin-top: 0.25rem;
}

button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container,
button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container + #user_nav_container,
button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container + #user_nav_container + #main_nav_container 
{
	display: none;
}


@media screen and (min-width: 400px) {
	button.hamburger-toggle {
		font-size: 0.875rem;
		font-weight: 700;
		right: var(--horizontal-body-padding);
	}
}

@media screen and (min-width: 800px) {
	button.hamburger-toggle {
		display: none;
	}
	button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container,
	button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container + #user_nav_container,
	button.hamburger-toggle[aria-expanded="false"] + #audience_nav_container + #user_nav_container + #main_nav_container 
	{
		display: block;
	}
}

/************************
 TOP NAV
*************************/

#top_nav {
	position: absolute;
	right: 0;
	padding-bottom: 2rem;
	min-width: 15rem;
	width: 75%;
	max-width: 20rem;
	font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
	#top_nav {
		position: static;
		width: auto;
		min-width: auto;
		max-width: none;
		margin-top: calc(-1 * var(--logo-vertical-padding) - var(--user-nav-height));
		font-size: 1rem;
		padding-bottom: 0;
	}
}


/*********************
 NAV TOGGLE BUTTONS
 *********************/
button.nav-toggle {
	padding: 0.625rem 1rem;
	text-decoration: none;
	white-space: nowrap;
	border: 2px solid var(--primaryblue);

	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: center;
}

button.nav-toggle > * {
	pointer-events: none;
}

button.nav-toggle svg {
	height: 0.875rem;
	width: 0.875rem;
	position: relative;
	top: 1px;
	margin-left: 4px;
}

button.nav-toggle[aria-expanded="false"] svg.icon.down{
	display: inline;
}
button.nav-toggle[aria-expanded="false"] svg.icon.up{
	display: none;
}
button.nav-toggle[aria-expanded="true"] svg.icon.down{
	display: none;
}
button.nav-toggle[aria-expanded="true"] svg.icon.up{
	display: inline;
}

button.nav-toggle[aria-expanded="false"] + ul {
	display: none;
}
button.nav-toggle[aria-expanded="true"] + ul {
	display: block;
}

#user_nav button.nav-toggle,
.mega-menu button.nav-toggle {
	margin-top: -2px; /* address border overlap issue */
}

/********************************
 MEGA MENU 
*********************************/
.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="true"] + .mega-sub-menu {
	display: block;
}
.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="false"] + .mega-sub-menu {
	display: none;
}

.mega-sub-menu > div.image-column {
	display: none;
}



/******************************
 AUDIENCE NAVIGATION
*******************************/
#audience_nav_container {
	z-index: 1000;
	position: relative;
}

#audience_nav > span {
	display: none;
}
#audience_nav > ul { 
	width: calc(100% - 1rem);
	background: var(--menu-background);
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
	list-style: none;

	border-left: solid 2px var(--primaryblue);
	border-right: solid 2px var(--primaryblue);

	padding: 0;
}

#audience_nav > ul li {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}
#audience_nav > ul li + li {
	border-top: solid 1px var(--mediumgray);
}
#audience_nav > ul li a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.25rem;
	padding-right: 1rem;
	text-decoration: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: block;
}

#audience_nav > ul li a:focus {
	outline-color: var(--mediumblue);
	outline-offset: -1px;
}

@media screen and (min-width: 800px) {
	#audience_nav_container {
		margin-top: 0;
		background: var(--primaryblue);
		color: var(--white);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: auto;
	}
	#audience_nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: flex-end;
		height: var(--audience-nav-height);
		font-size: 1rem;
	}
	#audience_nav > span{
		display: inline;
	}

	#audience_nav .nav-toggle {
		display:none;
	}
	#audience_nav_container span {
		display: inline;
		white-space: nowrap;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
	}

	#audience_nav ul {
		width: auto;
		background: transparent; 
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0.5rem 0;
	}
	#audience_nav > ul li {
		padding: 0;
	}
	#audience_nav > ul li + li {
		border-top: none;
	}
	#audience_nav ul li a {
		display: inline;
		color: var(--white);
		margin-left: 1.5rem;
		margin-right: 0;
		padding: 0;
		text-decoration: underline;
	}
	#audience_nav ul li a:focus {
		outline-color: var(--white);
		outline-offset: 2px;
	}
	#audience_nav ul li a:hover {
		text-decoration: none;
	}
}

/******************************
 USER NAVIGATION 
*******************************/
#user_nav_container {
	z-index: 1000;
	position: relative;
}

#user_nav a svg {
	display: none;
}

#user_nav > ul {
	width: calc(100% - 1rem);
	background: var(--menu-background);
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
	list-style: none;

	border-left: solid 2px var(--primaryblue);
	border-right: solid 2px var(--primaryblue);
	padding: 0;
}

#user_nav > ul li {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}
#user_nav > ul li + li {
	border-top: solid 1px var(--mediumgray);
}

#user_nav > ul li a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.25rem;
	padding-right: 1rem;
	text-decoration: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: block;
}

#user_nav > ul li a:focus {
	outline-color: var(--mediumblue);
	outline-offset: -1px;
}

@media screen and (min-width: 800px) {
	#user_nav_container {
		z-index: auto;
		position: initial;
	}
	#user_nav .nav-toggle {
		display:none;
	}
	#user_nav ul {
		height: var(--user-nav-height);
		width: auto;
		background: transparent;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-content: flex-end;
		align-items: flex-end;
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
	}
	
	#user_nav > ul li {
		padding: 0;
	}
	
	#user_nav > ul li + li {
		border-top: none;
	}

	#user_nav ul li a {
		display: block;
		padding: 0;
		margin-top: 0;
		margin-left: 1rem;
		text-decoration: none;
		font-size: 0.875rem;
		text-transform: uppercase;
	}
	#user_nav ul li a:focus {
		outline-color: var(--suorange);
		outline-offset: 2px;
	}
	#user_nav ul li a:hover {
		text-decoration: underline;
	}
	
	#user_nav ul li a#alert_link.active {
		color: var(--darkorange);
	}
	#user_nav ul li a svg {
		display: inline;
		position: relative;
	}
	#user_nav ul li a svg.alert {
		width: 1.25em;
		height: 1.25em;
		top: 3px;
		right: 0;
	}
	#user_nav ul li a svg.help {
		width: 1.25em;
		height: 1.25em;
		top: 3px;
		right: 0;
	}
	#user_nav ul li a svg.feedback {
		width: 1.375em;
		height: 1.375em;
		top: 5px;
		right: -2px;
	}
	#user_nav ul li a svg.accounts {
		width: 1.25em;
		height: 1.25em;
		top: 3px;
		right: 0;
	}
}

/******************************
 MEGAMENU NAVIGATION
*******************************/
#main_nav_container {
	z-index: 1000;
	position: relative;
}

#main_nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mega-menu > ul > li {
	display: block;
}

.mega-sub-menu {
	background: var(--menu-background);
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 1rem;
	list-style: none;

	border-left: solid 2px var(--primaryblue);
	border-right: solid 2px var(--primaryblue);
	padding: 0;
}

.mega-menu > ul > li:last-child .mega-sub-menu {
	border-bottom: solid 2px var(--primaryblue);
}

.mega-sub-menu ul {
	list-style: none;
	padding-left: 0;
}

.mega-sub-menu ul li {
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
}

.mega-sub-menu ul > li + li {
	border-top: solid 1px var(--mediumgray);
}


.mega-sub-menu ul li a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0.25rem;
	padding-right: 1rem;
	text-decoration: none;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: block;
}
.mega-sub-menu ul li a:focus {
	outline-color: var(--mediumblue);
	outline-offset: 0;
}


.mega-sub-menu div.text-column + div.text-column > ul > li:first-child {
	border-top: solid 1px var(--mediumgray);
}

.mega-sub-menu div.text-column + div.text-column > .mega-sub-heading {
	border-top: solid 2px var(--black);
}

.mega-menu .mega-sub-heading {
	font-size: inherit;
	margin: 0;
	padding: 0.25rem 1rem;
	font-weight: 700;
	border-bottom: solid 2px var(--black);
}

@media screen and (min-width: 800px) {
	#main_nav_container {
		background: var(--darkorange);
		color: var(--white);
		margin-top: var(--logo-vertical-padding);
		position: initial;
		z-index: auto;
	}
	#main_nav {
	}

	.mega-menu button.nav-toggle {
		padding: 0 0.5rem;
		color: var(--white);
		background: transparent;
		font-size: 1rem;
		font-weight: 500;
		height: var(--mega-menu-height);
		display: block;
		width: auto;
		border-color: transparent;
		margin-top: 0;
	}

	.mega-menu button.nav-toggle svg {
		margin-left: 1px;
	}

	.mega-menu > ul {
		list-style: none;
		padding: 0;
		margin: 0;
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: stretch;
	}
	.mega-menu > ul > li {
		display: inline-block;
		padding: 0;
		
	}

	.mega-sub-menu {
		display: none;
		position: absolute;
		margin: 0;
		border: none;
		background: var(--menu-background);
		color: #000;
		list-style: none;
		padding: 1rem var(--inner-sub-menu-margin);
		z-index: 10;
		
		left: 0;
		min-width: calc(800px - 2rem);
		transition: opacity .4s 1s;
		box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
		z-index: 100;

		justify-content: space-between;
		align-items: center;
	}
	/* add a "cushion" around the submenus to make it not close as easily */
	.mega-sub-menu:before {
		content: "";
		background: transparent;
		display: block;
		z-index: -1;
		position: absolute;
		width: calc(100% + 30px);
		height: calc(100% + 20px);
		top: 0;
		left: -15px;
	}
	.mega-sub-menu:focus {
		/* do not show focus outline on a div that is a programmatic tab stop */
		outline: none;
	}

	.mega-sub-menu ul li {
		padding-top: 0;
		padding-bottom: 0;
	}
	.mega-sub-menu ul > li + li {
		border-top: none;
	}
	
	.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="true"] {
		background: var(--menu-background);
		color: #000;
		box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
	}
	.mega-menu button.nav-toggle[aria-expanded]:hover {
		background: var(--mediumblue);
		color: var(--white);
	}
	.mega-menu button.nav-toggle:focus {
		/* adjust the offset so the outline border is visible */
		outline-offset: -5px;
		outline-color: var(--white);
	}
	.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="true"]:focus {
		outline-color: var(--mediumblue);
	}

	.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="true"] + .mega-sub-menu {
		display: flex;
	}
	.mega-menu[data-menu-state] button.nav-toggle[aria-expanded="false"] + .mega-sub-menu {
		display: none;
	}

	.mega-sub-menu > div {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		/* there are 5 inner-sub-menu-margins that need to be distributed out across 4 columns */
		width: calc(25% - 1.25 * var(--inner-sub-menu-margin));
	}
	
	.mega-sub-menu > div.double {
		width: calc(50% - 2.5 * var(--inner-sub-menu-margin) + var(--inner-sub-menu-margin));
	}
	.mega-sub-menu > div.double > ul {
		column-count: 2;
		column-gap: var(--inner-sub-menu-margin);
	}
	.mega-sub-menu > div.double > ul > li {
		break-inside: avoid;
	}

	.mega-sub-menu > div + div {
		margin-left: var(--inner-sub-menu-margin);
	}

	.mega-sub-menu > div.text-column {
		align-self: flex-start;
		align-items: flex-start;
	}
	.mega-sub-menu > div.text-column > ul {
		list-style: none;
		padding-left: 0;
	}
	
	.mega-sub-menu > div.text-column > ul li a {
		display: block;
		padding: 1px 0;
		text-decoration: none;
		margin: 0.25rem 0 0;
	}
	.mega-sub-menu > div.text-column > ul li a:focus {
		outline-color: var(--mediumblue);
		outline-offset: 2px;	
	}
	.mega-sub-menu > div.text-column > ul li a:hover {
		text-decoration: underline;
	}
	
	
	.mega-sub-menu > div.image-column {
		display: block;
	}
	.mega-sub-menu > div.image-column > a {
		text-align: center;
		text-decoration: none;
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
	}
	.mega-sub-menu > div.image-column > a:focus,
	.mega-sub-menu > div.image-column > a:hover	{
		outline-style: solid;
		outline-width: 3px;
		outline-color: var(--mediumblue);
		outline-offset: 2px;	
	}
	
	.mega-sub-menu > div.image-column > a > img {
		width: 100%;
		margin-bottom: 0.75rem;
	}
	
	.mega-menu .mega-sub-heading {
		font-size: inherit;
		margin: 0;
		padding: 0;
		font-weight: 700;
		border-bottom: none;
	}
	
	.mega-sub-menu div.text-column + div.text-column > ul > li:first-child {
		border-top: none;
	}
	
	.mega-sub-menu div.text-column + div.text-column > .mega-sub-heading {
		border-top: none;
	}
}


/***************************
 SEARCH HOURS TOGGLE
****************************/
#search_hours_toggle_container {
	pointer-events: none;
	position: absolute;
	width: 100%;
	text-align: right;
	margin-top: 0.5rem;
	line-height: 1;
}
button#search_hours_toggle {
	pointer-events: auto;
	background: var(--white);
	color: var(--mediumblue);
	border: solid 2px;
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 0 0.5rem;
	height: 2rem;
	min-width: 2rem;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

button#search_hours_toggle:hover,
button#search_hours_toggle:focus {
	background: var(--mediumblue);
	border-color: var(--mediumblue);
	color: var(--white);
}

button#search_hours_toggle:focus{
	outline-color: var(--white);
	outline-width: 2px;
	outline-offset: -5px;
}

button#search_hours_toggle > * {
	pointer-events: none;
}

button#search_hours_toggle span {
	font-size: 0.75rem;
	display: inline-block;
	margin-right: 0.25rem;
}

button#search_hours_toggle[aria-expanded="true"] span {
	display: none;
}

button#search_hours_toggle svg {
	height: 0.75rem;
	width: 0.75rem;
}
button#search_hours_toggle[aria-expanded="false"] svg.icon.down{
	display: inline;
}
button#search_hours_toggle[aria-expanded="false"] svg.icon.up{
	display: none;
}
button#search_hours_toggle[aria-expanded="true"] svg.icon.down{
	display: none;
}
button#search_hours_toggle[aria-expanded="true"] svg.icon.up{
	display: inline;
}

@media screen and (min-width: 800px) {
	#search_hours_toggle_container {
		width: 100%;
		position: absolute;
		text-align: right;
		margin-top: 0;
	}
	button#search_hours_toggle {
		padding: 0 0.5rem;
		height: 2rem;
		position: relative;
		top: calc(-2rem - (var(--mega-menu-height) - 2rem) / 2); /* height of this button minus 1/2 of mega menu height - this button height */
	}

	button#search_hours_toggle:focus {
		outline-width: 3px;
		outline-offset: 2px;
	}
	
	button#search_hours_toggle span {
		font-size: 0.75rem;
	}
	button#search_hours_toggle[aria-expanded="true"] span {
		display: inline-block;
	}
}

/***************************
 SEARCH HOURS
****************************/
#search_hours_container {
	background-image: url("../assets/carnegie.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	min-height: calc(0.5rem + 2rem + 0.5rem); /* 2rem is the height of the toggle */
}

#search_hours_container.collapsed {
	background-image: none;
}

#search_hours_container.collapsed > #search_hours {
	display: none;
}

#search_hours {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	min-height: 100%;
}

@media screen and (min-width: 800px) {
	#search_hours_container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	#search_hours_container.collapsed {
		display: none;
	}
	
	#search_hours {
		flex-direction: row;
		justify-content: space-around;
		padding-right: calc(var(--chat-width) + 1rem);
	}
}

/***************************
 SEARCH BOX
****************************/
#search_box {
	display: block;
	background: var(--primaryblue);
	color: var(--white);
	padding: 0.75rem 1rem;
	margin: 0 2.5rem;
}

#search_box > * {
	
}

#search_box > div {
	position: relative;
	padding-right: 1.5rem; /* for the button chevron being absolutely positioned */
}
#search_box h2 {
	font-size: 1.125rem;
	margin: 0;
	z-index: 1;
	position: relative;
	pointer-events: none;
}

#search_box h2 + button {
	line-height: 1;
	position: absolute;
	top: -3px;
	bottom: -3px;
	left: -4px;
	right: -4px;
	width: calc(100% + 8px);
	border: none;
	background: transparent;
	color: var(--white);
	text-align: right;
	z-index: 0;
	padding: 0;
}
#search_box h2 + button:focus {
	outline-color: var(--white);
}

#search_box h2 + button > svg {
	width: 1rem;
	height: 1.125rem;
	position: relative;
	top: 1px;
	margin-right: 0.25rem;
}
#search_box h2 + button[aria-expanded="false"] > svg.up {
	display: none;
}
#search_box h2 + button[aria-expanded="true"] > svg.down {
	display: none;
}

#search_box.collapsed > form, 
#search_box.collapsed > nav > ul {
	display: none;
}

#search_box > form {
	margin: 1rem 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
}

#search_box > form > input[type="search"] {
	border: none;
	height: 2.25rem;
	padding: 0 0.5rem;
	background: var(--white);
	flex-grow: 1;
}
#search_box > form > input[type="search"]:focus {
	outline-color: var(--white);
	z-index: 5;
}
#search_box > form > input[type="search"]::placeholder {
	color: var(--mediumgray);
	opacity: 1;
	font-style: italic;
}

#search_box > form > button[type="submit"] {
	background: var(--mediumgray);
	color: var(--white);
	font-size: 1rem;
	border: none;
	text-transform: uppercase;
	position: relative;
	height: 2.25rem;
	line-height: 2.25rem; /* forces centering */
	padding: 0 0.625rem;
	flex-shrink: 0;
	
	margin-left: 0.375rem;
}
#search_box > form > button[type="submit"]:focus {
	outline-color: var(--white);
	z-index: 5;
}
#search_box > form > button[type="submit"]:hover {
	background: var(--darkorange);
}

#search_box > form > button[type="submit"] svg {
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	top: 4px;
}

#search_box > nav > ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 0;
	margin: 1rem 0 0;
	gap: 1rem;
}
#search_box > nav > ul > li {
	flex: 1 0 auto;
	text-align: center;
	position: relative; /* required for the complex tooltips to be positioned correctly */
}
#search_box > nav > ul > li > a {
	color: var(--white);
	text-decoration: none;
	display: inline-block;
	margin: 0 auto;
}
#search_box > nav > ul > li > a:focus {
	outline-color: var(--white);
}



@media screen and (min-width: 800px) {
	#search_box {
		margin: 0;
	}
	#search_box > div {
		padding-right: 0;
	}

	#search_box h2 {
		white-space: nowrap;
	}

	#search_box h2 + button {
		display: none;
	}


	#search_box.collapsed > form, 
	#search_box.collapsed > nav > ul {
		display: flex;
	}


	#search_box > nav > ul > li > a:hover {
		text-decoration: underline;
	}
}

/***************************
 HOURS BOX
****************************/
#hours_box {
	margin-top: 1rem;
	background: var(--white);
	padding: 0.75rem 1rem;
	line-height: 1;
}
#hours_box > h2 {
	color: var(--darkorange);
	font-size: 1.125rem;
	margin: 0;
}
#hours_box #hours {
	margin: 1rem 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
}
#hours_box #hours > div {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.25;
}
#hours_box #hours > a {
	font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
	#hours_box {
		margin-top: 0;
		margin-left: 1rem;
	}
	
	#hours_box #hours {

	}
}

/******************************
 MAIN
*******************************/
main:focus {
	/* prevent outline from appearing if focus occurs programmatically */
	outline: none;
}

main.page-centered-content {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	padding-right: calc(var(--chat-width) + 1rem);
}

/***********************
 CHAT CONTAINER
 ***********************/

#chat_container {
	display: flex;
	line-height: 1;
	position: fixed;
	top: calc(50% - var(--chat-height) / 2);
	right: 0;
	z-index: 5;
	background-color: var(--mediumblue);
	writing-mode: vertical-rl;
	text-orientation: mixed;
}
#chat_container a {
	display: block;
	color: var(--white);
	text-decoration: none;
	text-align: center;
	height: var(--chat-height);
}

#chat_container a:focus {
	outline-color: var(--white);
	outline-offset: -5px;
}
#chat_container a:hover {
	background: var(--darkorange);
}
#chat_container a div {
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
#chat_container a svg {
	height: var(--chat-width);
	width: var(--chat-width);
	transform: rotate(90deg);
}

/***************************
 BREADCRUMBS
****************************/
#breadcrumbs {
	font-size: 0.75rem;
	margin-bottom: 0.75rem;
}
#breadcrumbs ol {
	margin: 0;
	padding-left: 0;
	list-style: none;
	
}
#breadcrumbs ol li {
	display: inline-block;
	position: relative;
	line-height: 1;
}
#breadcrumbs ol li + li {
}
#breadcrumbs ol li + li::before {
	content: ""; /* avoid adding content here unless you want a screen reader to hear it */
	display: inline-block;
	width: 0.625em;
	height: 0.125em;
	margin-left: 0.25em;
	margin-right: 0.5em;
	position: relative;
	background: var(--mediumblue);
	bottom: 0.5ex;
}

#breadcrumbs ol li a {
	display: inline-block;
}


/******************************************
 FOOTER
 ******************************************/
footer {
	background: var(--primaryblue);
	color: var(--white);
	padding: 1rem 0;
	font-size: 0.875rem;
}

footer address {
}

footer a {
	color: var(--white);
	display: inline-block;
}

footer address {
	font-style: normal;
	line-height: 1.75;
}
footer address a.phone {
	margin-right: 0.75rem;
}
footer address .fax:after {
	content: " fax";
}

footer nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

footer nav ul {
	list-style: none;
	padding: 0;
	margin: 1rem 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}
footer nav ul li + li {
	margin-left: 1.5rem;
}


footer nav a {
	color: var(--white);
}
footer nav a svg {
	width: 1.5rem;
	height: 1.5rem;
}
footer nav a:hover svg {
	color: var(--suorange);
}

footer nav a.tooltip {
	position: relative;
}

footer nav a.tooltip:hover span,
footer nav a.tooltip:focus span {
	clip: auto;
	height: auto;
	width: auto;
	overflow: auto;
	left: 62.5%;
	bottom: calc(100% + 0.5rem);
	background: var(--lightblue);
	color: var(--white);
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
	border-radius: 6px;
	z-index: 5;
}

/***************************
 BACK TO TOP
****************************/

#back_to_top {
	position: absolute;
	top: 100vh;
	right: 1rem;
	bottom: 0;
	pointer-events: none;
}
#back_to_top a {
	position: fixed;
	position: sticky;
	pointer-events: all;
	top: calc(100vh - 6.25rem);
	display: inline-flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-decoration: none;
	line-height: 3rem;
	text-align: center;
	width: 3rem;
	height: 3rem;
	background: var(--suorange);
}
#back_to_top a svg {
	height: 2.25rem;
	width: 2.25rem;
	color: var(--white);
}
@media screen and (min-width: 800px) {
	#back_to_top a {
		top: calc(100vh - 6rem;)
	}
}

/****************************
 COMPLEX TOOLTIPS 
*****************************/
a[has-complex-tooltip]:focus + div.complex-tooltip,
a[has-complex-tooltip]:hover + div.complex-tooltip {
	visibility: visible;
	opacity: 1;
}
div.complex-tooltip {
	visibility: hidden;
	background-color: var(--lightblue);
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
	color: var(--white);
	font-size: 0.875rem;
	text-align: center;
	border-radius: 6px;
	padding: 0.375rem;
	position: absolute;
	z-index: 10;
	top: auto;
	bottom: calc(100% + 0.75rem); 
	left: calc(50% - 7rem); /* one-half of width */
	opacity: 0;
	transition: opacity 0.3s;
	white-space: normal;
	line-height: 1.5em;
	width: 14rem; 
	margin: 0 0.375rem;
	
}